{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ block.super }}{% endblock %}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      {% block contenido %}

      <script>
          var name = "{{ restaurante }}";

          //Nos autentificamos
          $.ajaxSetup({
              headers : {
                  'Authorization' : 'Token 2129e99144432069b7ba8fa57351e4f5b09ba26d'
              }
          });

          $.getJSON({url: "http://127.0.0.1:8000/api/restaurants/"+name.split("+").join(" "), success: function(result){
            var direccion = " ";
            var cocina = " ";
            var imagen;

            $.each(result, function(key, value){
              if(key == "borough" || key == "building" || key == "city" || key == "street" || key == "zipcode"){
                direccion = direccion + value + " ";
              }else
                  if(key == "cuisine"){
                    cocina = value;
                  }else
                      if(key == "imagen"){
                        imagen = value;
                      }
            });
            $("#address").html("Dirección: "+direccion);
            $("#cuisine").html("Tipo de cocina: "+cocina);
            //$("#image").attr( 'src','data:image/png;base64,'+imagen);
            //console.log('data:image/png;base64,'+imagen);
          }});

      </script>

        <div class="jumbotron">
          <h1>{{ restaurante }}</h1>
            <p class="lead" id="address"></p>
            <p class="lead" id="cuisine"></p>
            <img src="data:{{ imagen.content_type }};base64,{{ imagen }}">
          </br>
        </div>
      {% endblock %}
  </div>
</nav>
</body>
