{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ super() }}{% endblock %}

<body>

  <div class="container">
      {% block enlaces %}
          <li><a href="/muestraTexto">Mostrar Texto</a></li>
          <li><a href="/muestraImagen">Mostrar Imagen</a></li>
          <li class="active"><a href="/listar">Listar restaurantes</a></li>
          <li><a href="/logout">Logout</a></li>
      {% endblock %}

      {% block contenido %}
        <div class="jumbotron">
          <h1>{{ titulo }}</h1>
          {% for con in content %}
            <p class="lead">Nombre: {{ con.name }}</p>
            <p class="lead">Direccion: {{ con.address.street }}. {{con.address.city}}</p>
            <p class="lead">Geolocalización: {{ con.address.coord[0] }} º latitud y {{ con.address.coord[1] }} º longitud</p>
          </br>
          {% endfor%}
        </div>
      {% endblock %}
  </div>
</body>
