{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ super() }}{% endblock %}

<body>

  <div class="container">

      {% block enlaces %}
          <li><a href="/muestraTexto">Mostrar Texto</a></li>
          <li><a href="/muestraImagen">Mostrar Imagen</a></li>
          <li class="active"><a href="/listar">Listar restaurantes</a></li>
          <li><a href="/logout">Logout</a></li>
      {% endblock %}

      {% block contenido %}
        {% if muestraResultado == "si" %}
            <div class="jumbotron">
              <h1>{{ titulo }}</h1>
              {% for cont in content %}
                <p class="lead">{{ cont }}</p>
              {% endfor %}
            </div>
        {% else %}
          <!-- Jumbotron -->
          <div class="jumbotron">
            <form class="form-signin" action="" method="POST">
              <h2 class="form-signin-heading">Buscar restaurante</h2>
              <label for="inputUser" class="sr-only">Nombre del restaurante</label>
              <input type="term" id="inputTerm" name="term" class="form-control" placeholder="Nombre del restaurante" required autofocus>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
            </form>
          </div>

        {% endif %}
      {% endblock %}
  </div>
</body>
