{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ block.super }}{% endblock %}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      {% block contenido %}
        <div class="jumbotron">
          <h1>Resultados de la búsqueda</h1>
          {% for lis in lista %}
            <p class="lead">Nombre: {{ lis.name }}</p>
            <p class="lead">Direccion: {{ lis.address.street }}. {{lis.address.city}}</p>
            <p class="lead">Tipo de cocina: {{ lis.cuisine }}</p>
          </br>
          {% endfor%}
        </div>
      {% endblock %}
  </div>
</nav>
</body>
