{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ super() }}{% endblock %}

<body>

  <div class="container">

      {% if error == "no" %}
        {% block enlaces %}
            <li><a href="/muestraTexto?error=no">Mostrar Texto</a></li>
            <li><a href="/muestraImagen">Mostrar Imagen</a></li>
            <li class="active"><a href="/buscar">Buscar restaurante</a></li>
            <li><a href="/logout">Logout</a></li>
        {% endblock %}
      {% endif %}


      {% block contenido %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <form class="form-signin" action="" method="POST">
          <h2 class="form-signin-heading">Buscar restaurante</h2>
          <label for="inputUser" class="sr-only">Nombre del restaurante</label>
          <input type="term" id="inputTerm" name="term" class="form-control" placeholder="Nombre del restaurante" required autofocus>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
        </form>
      </div>
      {% endblock %}

  </div>
</body>
