{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ super() }}{% endblock %}

<body>

  <div class="container">

      {% if error == "no" %}
        {% block enlaces %}
            <li class="active"><a href="/muestraTexto?error=no">Mostrar Texto</a></li>
            <li><a href="/muestraImagen">Mostrar Imagen</a></li>
            <li><a href="/logout">Logout</a></li>
        {% endblock %}
      {% endif %}


      {% block contenido %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>{{ titulo }}</h1>
        {% for cont in contenido %}
          <p class="lead">{{ cont }}</p>
        {% endfor %}  
      </div>
      {% endblock %}

  </div>
</body>
