{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ block.super }}{% endblock %}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      {% block contenido %}
        <div class="jumbotron">
          <h1>{{ restaurante.name }}</h1>
            <p class="lead">Direccion: {{ restaurante.street }} {{restaurante.building}} {{restaurante.zipcode}}. {{ restaurante.city }}. {{restaurante.borough}} </p>
            <p class="lead">Tipo de cocina: {{ restaurante.cuisine }}</p>
            <img src="data:{{ imagen.content_type }};base64,{{ imagen }}">
          </br>
        </div>
      {% endblock %}
  </div>
</nav>
</body>
