{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ block.super }}{% endblock %}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      {% block contenido %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
              <h3>{{ error|escape }}</h3>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <h3>{{ error|escape }}</h3>
        {% endfor %}
      {% else %}

        <div class="jumbotron">
          <h1>{{ titulo }}</h1>

          <form enctype="multipart/form-data" action="/restaurantes/insertar" method="post">
              {% csrf_token %}
              <div class="form-group">
                  {{ form.restaurant_id.label_tag }}
                  {{ form.restaurant_id }}
              </div>
              <div class="form-group">
                  {{ form.name.label_tag }}
                  {{ form.name }}
              </div>
              <div class="form-group">
                  {{ form.borough.label_tag }}
                  {{ form.borough }}
              </div>
              <div class="form-group">
                  {{ form.cuisine.label_tag }}
                  {{ form.cuisine }}
              </div>
              <div class="form-group">
                  {{ form.building.label_tag }}
                  {{ form.building }}
              </div>
              <div class="form-group">
                  {{ form.city.label_tag }}
                  {{ form.city }}
              </div>
              <div class="form-group">
                  {{ form.street.label_tag }}
                  {{ form.street }}
              </div>
              <div class="form-group">
                  {{ form.zipcode.label_tag }}
                  {{ form.zipcode }}
              </div>
              <div class="form-group">
                  {{ form.imagen.label_tag }}
                  {{ form.imagen }}
              </div>
              <button type="submit" class="btn btn-success">Insertar restaurante</button>
          </form>
        </div>
        {% endif %}
      {% endblock %}
  </div>
</nav>
</body>
