{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ block.super }}{% endblock %}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      {% block contenido %}
        <div class="jumbotron">
          <h1>{{ titulo }}</h1>
          {% for con in content %}
            <p class="lead">Nombre: <a href= {{ con.restaurant_id }}>{{ con.name }}</a></p>
            <p class="lead">Direccion: {{ con.street }}. {{con.city}}</p>
            <p class="lead">Tipo de cocina: {{ con.cuisine }}</p>
          </br>
          {% endfor%}
        </div>
      {% endblock %}
  </div>
</nav>
</body>
