{% extends "base.html" %}

{% block content %}
        <form class="form-signin" method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in" />
                <input type="hidden" class="btn btn-lg btn-primary btn-block" name="next" value="{{ next }}" />
        </form>

        <p class="form-signin">Not  a member? <a class="form-signin" href="{% url 'registration_register' %}">Register</a>!</p>
{% endblock %}
