{% extends 'principal.html' %}

<!--Cabecera heredada-->
{% block head %}{{ super() }}{% endblock %}

<body>

  <div class="container">

      {% block enlaces %}
        <li><a href="/muestraTexto">Mostrar Texto</a></li>
        <li class="active"><a href="/muestraImagen">Mostrar Imagen</a></li>
        <li><a href="/buscar">Buscar restaurante</a></li>
        <li><a href="/logout">Logout</a></li>
      {% endblock %}

      {% block contenido %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>{{ titulo }}</h1>
        <img style='height: 100%; width: 100%; object-fit: contain' src="{{ url_for('static', filename='img/imagen.jpg') }}" type="image/jpg"></img>
      </div>
      {% endblock %}

  </div>
</body>
